This Notebook is for understanding thee NLP Basics from the data related to the Customer support from twitter

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [100]:
import pandas as pd 
import numpy as np
import re
import nltk 
import spacy
import string

In [101]:
df = pd.read_csv('/content/drive/MyDrive/NLP Basics/sample.csv')

In [102]:
df.head()

   tweet_id     author_id  ...  response_tweet_id in_response_to_tweet_id
0    119237        105834  ...             119236                     nan
1    119238  ChaseSupport  ...                NaN                 119,239
2    119239        105835  ...             119238                     nan
3    119240  VirginTrains  ...             119241                 119,242
4    119241        105836  ...             119243                 119,240

[5 rows x 7 columns]

In [103]:
df['text'].count()
df.shape

(93, 7)

In [104]:
df['text_lower'] = df['text'].str.lower()

df.shape

(93, 8)

To remove the punctuation from the text

In [105]:
#df.drop(['text_lower'],axis =1, inplace=True)

PUNCT_TO_REMOVE = string.punctuation

def remove_punctuation(text):
  return text.translate(str.maketrans('','',PUNCT_TO_REMOVE))

df["text_to_Punctuation"] = df['text_lower'].apply(lambda text: remove_punctuation(text))

In [106]:
df.shape

(93, 9)

STOPWORDS Removal

In [107]:
#Importing the libraries for the removal of the Stopwords
from nltk import WordNetLemmatizer 
from nltk.corpus import stopwords
nltk.download("stopwords")
STOPWORDS = set(stopwords.words('english'))



##Defining the Function for the removal of the StopWords
def remove_stopwords(text):
  tokens = str(text).split(" ")
  tokens_filtered = [word for word in tokens if word not in STOPWORDS]
  return (" ").join(tokens_filtered)
  #return " ".join([word for word in str(text).split() if word not in STOPWORDS])

#####Here adding the other column of the Text where the stopwords have been removed  
##
df['text_to_stopWOrds'] = df["text_to_Punctuation"].apply(lambda text: remove_stopwords(text))
df.shape

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

(93, 10)

Removing the most common words

In [108]:
from collections import Counter

cnt = Counter()

for text in df["text_to_stopWOrds"].values:
  for word in text.split():
    cnt[word] +=1


###most_common() helps in producing the k frequqntly encountered 
##input values and their respective counts
cnt.most_common(10)

FREQUENT_WORDS = set([w for (w,wc) in cnt.most_common(10)])

def remove_frequentwords(text):
  return " ".join([word for word in str(text).split() if word not in FREQUENT_WORDS])

df["text_words_stopfrequency"] = df["text_to_stopWOrds"].apply(lambda text:remove_frequentwords(text))
df.shape

(93, 11)

In [109]:
df.head()

   tweet_id  ...                           text_words_stopfrequency
0    119237  ...  causing reply disregarded tapped notification ...
1    119238  ...  105835 business means lot name zip code additi...
2    119239  ...         76328 really hope change im sure wont dont
3    119240  ...  105836 livechat online moment httpstcosy94vtu8...
4    119241  ...  virgintrains see attached error message tried ...

[5 rows x 11 columns]

In [110]:
from nltk.stem.porter import PorterStemmer

STEMMER = PorterStemmer()

def stem_porter(text):
  return " ".join([STEMMER.stem(word) for word in text.split()])

df["text_stemming"] = df['text'].apply(lambda text: stem_porter(text))

In [111]:
df.shape

(93, 12)

In [112]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
#nltk.download(WordNetLemmatizer)

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [113]:
LEMMATIZER = WordNetLemmatizer()

def word_lemmatizer(text):
  return " ".join([LEMMATIZER.lemmatize(word) for word in text.split()])

df["text_lemmatize"] = df["text"].apply(lambda text: word_lemmatizer(text))

df.shape

(93, 13)

In [114]:
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

nltk.download('averaged_perceptron_tagger')

LEMMATIZER = WordNetLemmatizer()

wordnet_mapping = {"N":wordnet.NOUN, "V":wordnet.VERB, "J":wordnet.ADJ, "R":wordnet.ADV}

def lemmatize_word(text):
  pos_tagging = nltk.pos_tag(text.split())
  return " ".join([LEMMATIZER.lemmatize(word, wordnet_mapping.get(pos[0],wordnet.NOUN)) for word, pos in pos_tagging])
  
df["text_lemmatize_by_pos"] = df["text"].apply(lambda text: lemmatize_word(text))
df.shape

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

(93, 14)

In [115]:
df.head()

   tweet_id  ...                              text_lemmatize_by_pos
0    119237  ...  @AppleSupport cause the reply to be disregard ...
1    119238  ...  @105835 Your business mean a lot to us. Please...
2    119239  ...  @76328 I really hope you all change but I'm su...
3    119240  ...  @105836 LiveChat be online at the moment - htt...
4    119241  ...  @VirginTrains see attached error message. I've...

[5 rows x 14 columns]

In [30]:
twdf = pd.read_csv("/content/drive/MyDrive/NLP Basics/twcs.csv")

In [31]:
twdf.shape

(2811774, 7)

In [32]:
twdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2811774 entries, 0 to 2811773
Data columns (total 7 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tweet_id                 int64
 1   author_id                object
 2   inbound                  bool
 3   created_at               object
 4   text                     object
 5   response_tweet_id        object
 6   in_response_to_tweet_id  float64
dtypes: bool(1), float64(1), int64(1), object(4)
memory usage: 131.4+ MB

In [33]:
twdf.head()

   tweet_id   author_id  ...  response_tweet_id in_response_to_tweet_id
0         1  sprintcare  ...                  2                       3
1         2      115712  ...                NaN                       1
2         3      115712  ...                  1                       4
3         4  sprintcare  ...                  3                       5
4         5      115712  ...                  4                       6

[5 rows x 7 columns]

In [34]:
pd.options.display.float_format = '{:,.0f}'.format
answers = twdf.loc[twdf['author_id'] == 'sainsburys' ]

In [35]:
tweet_id_sc = pd.DataFrame(twdf.loc[twdf['author_id'] =='sprintcare','tweet_id'])
type(tweet_id_sc)
tweet_id_sc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22381 entries, 0 to 2811769
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  22381 non-null  int64
dtypes: int64(1)
memory usage: 349.7 KB

To get the details of the Authors

In [ ]:
author_df = twdf['author_id']
author_df = pd.DataFrame(author_df)
print("Author details before removing Duplicates:",author_df.shape)
type(author_df)
author_df.drop_duplicates(subset= 'author_id')
print("Author Details after removing the duplicates:",author_df.shape)
author_df.head()

Author details before removing Duplicates: (2811774, 1)
Author Details after removing the duplicates: (2811774, 1)

    author_id
0  sprintcare
1      115712
2      115712
3  sprintcare
4      115712

In [ ]:
answers.head()

      tweet_id   author_id  ...  response_tweet_id in_response_to_tweet_id
773       1324  sainsburys  ...                NaN                   1,325
2404      3313  sainsburys  ...               3314                   3,315
2406      3316  sainsburys  ...               3317                   3,314
2549      3476  sainsburys  ...               3477                   3,478
2551      3479  sainsburys  ...                NaN                   3,477

[5 rows x 7 columns]

In [ ]:
answers.shape

(19466, 7)

In [ ]:
twdf.shape

(2811774, 7)

In [ ]:
answers.isnull

<bound method DataFrame.isnull of          tweet_id   author_id  ...  response_tweet_id in_response_to_tweet_id
773          1324  sainsburys  ...                NaN                   1,325
2404         3313  sainsburys  ...               3314                   3,315
2406         3316  sainsburys  ...               3317                   3,314
2549         3476  sainsburys  ...               3477                   3,478
2551         3479  sainsburys  ...                NaN                   3,477
...           ...         ...  ...                ...                     ...
2804296   2980622  sainsburys  ...                NaN               2,980,623
2805026   2981310  sainsburys  ...            2981311               2,981,312
2805813   2982065  sainsburys  ...                NaN               2,982,066
2807369   2983628  sainsburys  ...            2983629               2,983,630
2810390   2780455  sainsburys  ...            2986593               2,780,454

[19466 rows x 7 columns]>

In [ ]:
answers.columns[answers.isnull().any()]

Index(['response_tweet_id', 'in_response_to_tweet_id'], dtype='object')